<?xml version="1.0" encoding="utf-8"?>
<!--<configuration>
<system.webServer>
    <handlers accessPolicy="Read, Execute, Script">
        <remove name="Python27_via_FastCGI" />
        <remove name="Python34_via_FastCGI" />
        <add name="Python FastCGI"
                path="*"
                verb="*"
                modules="FastCgiModule"
                scriptProcessor="C:\Users\yuta\AppData\Local\Programs\Python\Python38\python.exe|C:\Users\yuta\AppData\Local\Programs\Python\Python38\Lib\site-packages\wfastcgi.py"
                resourceType="Unspecified"
                requireAccess="Script" />
    </handlers>
</system.webServer>
<appSettings>
    <add key="WSGI_HANDLER" value="myapp.app" />

    <add key="PYTHONPATH" value="D:\workspace\Python\14_PythonWebApp" />
</appSettings>
</configuration>-->

<configuration>
<system.webServer>
    <handlers>
        <add name="Python FastCGI"
                path="*"
                verb="*"
                modules="FastCgiModule"
                scriptProcessor="C:\Users\yuta\AppData\Local\Programs\Python\Python38\python.exe|C:\Users\yuta\AppData\Local\Programs\Python\Python38\Lib\site-packages\wfastcgi.py"
                resourceType="Unspecified"
                requireAccess="Script" />
    </handlers>
</system.webServer>

<appSettings>
    <add key="WSGI_HANDLER" value="myapp.app" />
    <add key="PYTHONPATH" value="D:\workspace\Python\14_PythonWebApp" />
    <add key="SCRIPT_NAME" value="/14_PythonWebApp" />
    <add key="WSGI_RESTART_FILE_REGEX" value=".*((\.py)|(\.config))$" />
    <add key="WSGI_LOG" value="D:\workspace\Python\14_PythonWebApp\my_app.log" />
</appSettings>
</configuration>